body{
  background-color: rgb(221, 221, 221);
}

.mainlayout {
  width: 100%;
  
}
.navigationpane{
  background-color: rgb(15, 12, 12);
  margin: -8px;
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index:1;

}


.innerlayout {
  margin: auto;
}
.avatarHolder{
  margin: auto;
  width: 100%;
  text-align: center;
}

#cardHolder{
  border: 1px solid red;
}

.cardinnerlayout {
  width: 65%;
  font-family: Cambria;
  font-size: 15px;
  margin: auto;
  overflow: hidden;

}

.skillsNav{
  margin: auto;
  width: 30%;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.el-menu--horizontal>.el-menu-item {
  float: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 60px;
  line-height: 60px;
  margin: 0;
  border-bottom: none;
  color: black ;
}

.el-menu.el-menu--horizontal {
  border-bottom: none;
}


.progressBars{
  width: 90%;
  margin-top: -30px;
}

.progressBarholder{
  margin-top: -20px;
}

.el-avatar--circle {
  border-radius: 50%;
  border: 5px solid black;
}
